---
title: false
styles: true
---

// Background colours
$backgroundColour: #eee !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #7e8e78 !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #000000 !default;
$bodyColour: #000000 !default;
$linkColour: #815F93 !default;
$hoverColour: #008000 !default;
$focusColour: #fa407a !default;
$captionColour: #A8ADAC !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Heebo, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Lora", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;


@import "alembic";